@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔠 Optional: custom font */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  overscroll-behavior-x: contain;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
